# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# ignore data directory
data-raw/

# ignore literature 
literature/

# ignore R project (Brian does not use)
*.RProj

# ignore figures (take up a lot of space)
*.png
*.jpg
*.jpeg
data_workshop_figs/
data_explore_figs/

# stock synthesis files
admodel.cov
admodel.dep
admodel.hes
checkup.sso
*.tmp
console.output.txt
covar.sso
CumReport.sso
derived_posteriors.sso
echoinput.sso
fmin.log
gradient.*
ParmTrace.sso
plots/
plots_StartTime*/
posterior_obj_func.sso
posterior_vectors.sso
posteriors.sso
rebuild.sso
runnumber.ss
SIS_table.sso
ss.b0*
ss.bar
ss.ecm
ss.eva
ss.exe
ss.exe
ss.log
ss.mc2
ss.mcm
ss.p0*
ss.r0*
ss.rep
ss.std
suggested_tuning.ss

# rmarkdown / latex files
*.aux
*.log
*.out
*.tex
*.upa
*.md
*.pdf
!input_accessability.tex
!sa4ss_glossaries.tex

#batch files
*run_ss.bat