# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# ignore data directory
data-raw/
# ignore literature
literature/
# ignore R project (Brian does not use)
*.RProj
# ignore figures (take up a lot of space)
*.png
!figure_title.png
!documents/figures/*.png
!documents/figures/sensitivities/*.png
!models/7_3_5_reweight_retro/*.png
!models/7_3_5_reweight_profile*/*.png
!models/7_3_5_reweight_phases_profile*/*.png
!docs/*.png
!models/7_0_2_hessian_retro/*.png
*.jpg
*.jpeg
data_workshop_figs/
data_explore_figs/
*.zip
# stock synthesis files
admodel.cov
admodel.dep
admodel.hes
checkup.sso
*.tmp
console.output.txt
covar.sso
CumReport.sso
derived_posteriors.sso
echoinput.sso
fmin.log
gradient.*
ParmTrace.sso
plots/
plots_StartTime*/
posterior_obj_func.sso
posterior_vectors.sso
posteriors.sso
rebuild.sso
runnumber.ss
SIS_table.sso
ss.b0*
ss.bar
ss.ecm
ss.eva
ss.exe
ss.exe
ss.log
ss.mc2
ss.mcm
ss.p0*
ss.r0*
ss.rep
ss.std
suggested_tuning.ss
!5_5_0_hessian/covar.sso
# rmarkdown / latex files
*.aux
*.log
*.out
*.tex
!documents/tables/*.tex
*.upa
*.upb
*.md
*.pdf
_main.Rmd
!input_accessability.tex
!sa4ss_glossaries.tex
#batch files
*run_ss.bat
#powerpoint files (may want to change once get to STAR panel)
*.ppt*
# Rdata files are usually too large for github
*.Rdata
*.Rds
*.Rda
